<html>
<title>Lite Solutions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://www.litesolutions.es/sites/default/files/media/LS_inicial_color_16x16_transparente.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{asset('css/style.scss')}}">
<link rel="stylesheet" href="{{asset('icons/style.css')}}">
<body>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-col m9">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <div class="container-log">
    <div class="container-log-img"><img class="circular-square" src="{{asset('assets/avatar4.png')}}" /></div>
    <div><strong>vebris</strong><p class="container-log-txt">Barcelona (Ciudad) - 8 sep 2019</p></div>
  </div>
  <div class="container-log">
    <div class="container-log-img circular-square circular-ok"><i class="icon-et-like"></i></div>
    <strong>Vale la pena</strong>
    <div class="container-log-img circular-square circular-dollar"><i class="icon-et-like"></i></div>
    <p class="container-log-txt">Precio aproximado: 8500€</p>
  </div>
  <h2 class="comment-title">Estoy muy orgullosa de mi nuevo abdomen</h2><br>
  
  </div>
</div>

<div class="w3-col m3">
  <div class="w3-card-2 w3-padding-top" style="min-height:460px">
  <h4>Standard CSS</h4><br>
  <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Standard CSS only</p>
  <p>Easy to learn</p>
  <p>No need for jQuery</p>
  <p>No JavaScript library</p>
  </div>
</div>


</body>
</html>
