<html>
<head>
    <title>Recomendaciones</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
</html>
